:host {
  display: block;
  height: 100%;
  .content-body {
    padding: 1rem;
  }
}
.example-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  height: 100%;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
}

.example-sidenav {
  padding: 20px;
}
