<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-menu></app-menu>
  </mat-drawer>

  <div class="root" fxFlexFill>
    <div class="content" fxFlexFill fxLayout="column">
      <div class="top-bar">
        <app-topbar
          (toggleButton)="drawerToggle($event)"
          fxLayout="row"
        ></app-topbar>
      </div>
      <div class="content-body" fxFlexFill>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</mat-drawer-container>
