<div
  class="detalle-container"
  fxLayout="row"
  *ngIf="selectedProducto; else mensaje"
>
  <div class="imagen" fxFlex="20">
    <img
      *ngIf="selectedProducto.image; else noImage"
      mat-card-image
      [src]="selectedProducto.image"
      alt="{{ selectedProducto.name }}"
    />
    <ng-template #noImage>
      <img
        mat-card-image
        [src]="'assets/Imagen_no_disponible.png'"
        alt="{{ selectedProducto.name }}"
      />
    </ng-template>
  </div>
  <div class="detalles" fxFlex="80">
    <table>
      <tr>
        <th scope="col">Nombre:</th>
        <td>{{ selectedProducto.name | uppercase }}</td>
      </tr>
      <tr>
        <th>Marca:</th>
        <td>{{ selectedProducto.brand | uppercase }}</td>
      </tr>
      <tr>
        <th>Categoría:</th>
        <td>{{ selectedProducto.category }}</td>
      </tr>
      <tr>
        <th>Sku:</th>
        <td>{{ selectedProducto.sku }}</td>
      </tr>
      <tr>
        <th>Cantidad disponible:</th>
        <td>{{ selectedProducto.stock }}</td>
      </tr>
      <tr>
        <th>Precio:</th>
        <td>{{ selectedProducto.price | currency }}</td>
      </tr>
    </table>
    <div class="button-container">
      <button
        mat-mini-fab
        aria-label="Deselect product"
        (click)="clearSelected()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<ng-template #mensaje>
  <div class="detalle-container">
    <h1>Seleccione un producto</h1>
  </div>
</ng-template>

{{ check() }}
