:host {
  .listado-container {
    padding-right: 1px;
    h2 {
      margin: 0;
    }
    mat-list-item {
      &.selected {
        background-color: #3f51b5c4;
        color: white;
      }
    }
  }
}
