<div class="listado-container" fxLayout="column">
  <div class="top" fxLayout="row" fxLayoutAlign="space-around center">
    <h2>Productos disponibles</h2>

    <button (click)="openDialog()" mat-mini-fab aria-label="Add product">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="listado">
    <mat-list role="list">
      <mat-list-item
        *ngFor="let producto of productos; last as last"
        (click)="selectProduct(producto.id)"
        [class.selected]="selectedId === producto.id"
      >
        {{ producto.name }}
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
